.button{
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: var(--color-first);
  color: var(--color-light);
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  font-weight: 700;
}

.button:hover,
.button:focus{
  outline: none;
  box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color-first);
}