*{
  box-sizing: border-box;
}

body{
  padding-top: 4rem;
  margin: 0px;
  --type-first: Helvetica,Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  --color-first:#25BD73;
  --color-second:#80FFC1;
  --color-dark:#3F7058;
  --color-light:#FFF;
  --color-error:#c70d0d;
  color: var(--color-dark);
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.title{
  font-size: 2rem;
  color: var(--color-dark);
}
.section-title{
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}
.btn-link{
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  color: var(--color-second);
  font-weight: 700;
}
.btn-link:hover,
.btn-link:focus{
  color: var(--color-dark);
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}

.btn-icon{
  background: rgba(128, 255, 193, 0.44);
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: var(--color-dark);
}
.btn-icon:hover{
  border-color: var(--color-first);
}
.btn-icon:hover > i{
  color: var(--color-first);
}
.btn-icon-second{
  border: 1px solid var(--color-dark);
  background-color: white;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer{
  margin-top: 4rem;
}
section {
  margin-top: 3rem;
}